body {
    background: lightgrey;
    font: 'Arial', 'Helvetica', Helvetica, sans-serif;
    
    
    
}

.top {
    height:54px;
    width: 100%;
    background: white;
    border-bottom: 1px solid grey;
    position: relative;
    top: -8px;
    
    
   
}

h1 {
    float: left;
    padding: 9px;
    font: 'Georgia', Times, times, Times New Roman, serif;
    color: white;
    background: green;
    position: relative;
    top: -22px;
    left: 10%;
}

nav {
    float: right;
    padding: 20px;
    color: grey;
    position: relative;
    right: 10%;
}

.Main-Section {
    width: 80%;
    height: 900px;
    margin: 0 10%;
    background: white;
    
}

header {
    padding: 20px 20px;
    margin: 10px 20px;
    border-bottom: 1px solid grey;
    color: green;
    font-size: 20px;
        
}

#profile-image {
    float: left;
    margin: 5px 20px;
}


p {
    margin: 0 20px;
    font-size: 20px;
}

.portfolio {
    float: left;
    width: 32.6%;
    position: relative;
    left: 30px;
}


.portfolio-picture {
    border: 1px solid grey;
    margin: 20px 20px;
   
}

.portfolio-name {
    padding: 5px 50px;
    text-align: center;
    color: white;
    background: green;
    position: relative;
    top: -80px;
    left: 20px;
     
}


form {
    position: absolute;
    left: 30%;
    right: 40%;
    
}

input {
    width: 100%;
}

.message {
    height: 100px;
    width: 100%;
}

#submit {
    width:30%;
    position: absolute;
    left: 35%;
}

a:link {
    color: grey;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    border-top: 3px solid green;
}